<form action="{% url 'submit_form' %}" method="post">
    {% csrf_token %}
    <p>
        dni: {{ dni }}
        </br>
        2019-2S
    </p>
    <input type="hidden" name="dni" value = "{{ dni }}">
    <table style="width:100%; text-align: center">
        <tr>
            <th>Nombre de la materia</th>
            <th>Código de la materia</th>
            <th>Número de horas de dedicación presencial</th>
            <th>Número de horas de trabajo autónomo</th>
            <th>Número de horas de acompañamieto</th>
        </tr>
        {% for subject in schedule %}
        <tr>
            <td>{{ subject.1 }}</td>
            <td>{{ subject.0 }}</td>
            <td><input type="text" name="hours"></td>
            <td><input type="text" name="hours"></td>
            <td><input type="text" name="hours"></td>
        </tr>
        <input type="hidden" name="name" value = "{{ subject.1 }}">
        <input type="hidden" name="code" value = "{{ subject.0 }}">
        {% endfor %}
    </table>
    <input type="submit" value="Enviar">
</form>